<html>
    <head>
        <title>Full Stack FlaskA2</title>
    </head>
    <body>
        
    <h1>Login Page</h1>
    
        <form action="/login-user" method="POST">
            <label>Username: </label>
            <input type="text" name="username"><br>
            <label>Password:</label>
            <input type="password" name="pwd"><br>
            <label></label>
            <input type="submit" name="submit">
        </form>
    
        <a href="/add-user">Not a user? Follow the white rabbit...</a>
    </body>

</html>