<html>
    <head>
        <title>Show User</title>
    </head>

    <body>
        <h3>User</h3>
        <table id = "users">
            
            <thead>
                <th</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </thead>
            
            <tbody>
                
                {% for user in allUsers %}
        
                <tr>
                    <td>{{user.first_name}} {{user.last_name}} </td>
                    <td>{{user.email}}</td>
                    <td>{{user.date_created}}</td>
                </tr>
        
                {% endfor %}
            
            </tbody>
        </table>

    </body>
</html>